* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Daniel;
}

@font-face {
    font-family: Daniel;
    src: url('./assets/Daniel.ttf');
}

body {
    /* background-color: #edecea; */
    background-color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;
    position: relative;
}

.aesop-pic {
    border-radius: 50%;
    width: 225px;
    transition: transform 0.2s;
    margin-bottom: -3rem;
}

.header {
    /* margin-top: -4rem; */
    font-size: 3rem;
    transition: transform 0.2s;
}

.nav-container {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;

    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    height: 80%;
}

.buttons a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: 100;
    transition: 0.2s;
    padding: 7px;
    filter: contrast(140%);
}


.footer {
    font-size: 2rem;
    transition: transform 0.2s;
}


.backwards {
    transform: scaleX(-1);
}


.black-white {
    filter: grayscale(100%);
}

.warrior {
    transition: transform 0.2s;
    opacity: 0.85;
    /* opacity: 1; */
}

.warrior-2 {
    margin-bottom: -4.5rem;
}

.warrior:hover, .header:hover, 
.aesop-pic:hover {
    transform: scale(1.1);
    
}

.footer:hover {
    transform: scale(1.2);
}

/* .buttons:hover > a {
    transform: scale(0.8);
} */

.buttons a:hover {
    transform: scale(1.2);
}

.web-1 {
    position: fixed;
    top: -9px;
    right: -8px;
}

.web-2 {
    position: fixed;
    top: -9px;
    left: -8px;
}

.grass {
    position: fixed;
    bottom: 0;
    left: 0px;
    /* background-image: url("./assets/grass.png"); */
    height: 30px;
    width: 100%;
}

