* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e2de;
}

.container {
    display: flex;
    align-items: center;
    padding: 50px;
}

.aesop-pic {
    border-radius: 50%;
    width: 300px;
}

.nav-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;

    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.header {
    font-size: 3rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 80%;
}

.buttons a {
    text-decoration: none;
    color: black;
    display: flex;
    align-tracks: center;
    gap: 1.5rem;
}

.footer {
    font-size: 2rem;
}

.backwards {
    transform: scaleX(-1);
}

